.header{
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	margin-bottom: 0px;
	position: sticky;
	top:0;
	background-color: white;
	font-size: 20px;
	z-index: 999;
}

.header-menu{
	display: flex;
}

.header-name{
	display: flex;
}

.header-link{
	margin: 0px 10px;
	text-decoration: none;
	color:black;
}

.header-link:hover{
	color:rgb(168, 92, 240);
	transition: all .5s;
}

.header-link:not(:hover){
	color:black;
	transition: all .5s;
}


.dropbtn {
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	padding: 0px;
	
}

.dropdown{
	position: relative;
  	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 58px;
	left: -12px;
	background-color: white;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display: block;}

.language-flag{
	width: 32px;
}